
<p id="notice"><%= notice %></p>
<p>
  <h1><%= @section.name %></h1>
</p>
<%= link_to 'Вернуться', sections_path %>
<br/>
<nav>
<% @section.categories.each do |category| %>
    <li><%= link_to category.name, [@section, category] %></li>

<% end %>

</nav>

