<div class="EntryText">
	<h2>Чешские фасады</h2>
	<p>
		<span>
			Уже более 10 лет наша компания занимается поставкой профессиональных материалов для утепления и декоративной отделки фасадов Чешского <br/> производителя STOMIX spol s. r o.
		</span>
	</p>
</div>

<nav>
	<%= link_to '', "#{asset_path('promo.jpg')}", id: "facade_insulation_prev", class: "fb" %>
	<%= link_to '', "#{asset_path('promo-2.png')}", id: "facade_insulation", class: "fb" %>
</nav>



<footer id="copyright">
</footer>
