<div class="about">
	ООО "Чешские фасады"<br/>
	Партнер компании "STOMIX spol s.r.o”
</div>

<div class="feedback">
	<p>
		Еленкин Федор Владимирович<br/>
		Генеральный директор
	</p>
	<br/>
	<p>
		<span>Тел.+7-(495)-410-27-67</span><br/>
		<span>+7-(916)-771-06-22</span>
	</p>
	<br/>
	<p>
		E-mail: czech-fasad@mail.ru
	</p>

</div>