<ul>
	<%= nav_link 'О компании', root_path %>
	<%= nav_link 'Услуги', services_path %>
	<li><a href="#" >Технологии</a></li>
	<li><a href="#" >Продукция</a></li>
	<li><a href="#" >Сертификаты</a></li>
	<li><a href="#" >Цены</a></li>
</ul>