<% page_title "Добро пожаловать" %>

<%= stylesheet_link_tag "pages_home", media:'all' %>
			
<div class="PromoGallery">
	<nav>
		<%= link_to '- Большие объекты', bigobject_path %>
		<%= link_to '- Коттеджи', cottages_path %>
	</nav>
</div>

	<div class="contant">
		<article>
			<h1>О компании</h1>
			<p>Вас приветствует компания ООО "Чешские фасады" - официальный диллер компании STOMIX (Чешская республика) в Москве. Уже более 10 лет наша компания занимается поставкой профессиональных материалов для утепления и декоративной отделки фасадов Чешского производителя STOMIX spol s. r o. </p>
			<br/>
<p>Основные принципы нашей работы это максимальный профессионализм, комфорт и удобство для наших клиентов. Качество поставляемых материалов и услуг проверено временем и является одним из лучших на рынке в своей области. Ознакомьтесь с нашим предложением по материалам и услугам в соответствующих разделах и мы будем рады сотрудничеству!</p>
		</article>
		
		<article class="promotions">
			<div class="divider"></div>
			<h1>Акции и скидки</h1>
			<p>- при заказе комплексной системы утепления от 300м2 скидка 3%;<br/>
- при заказе материалов на сумму свыше 300 000 рублей - льготный тариф на доставку!</p>
		</article>
		
	</div>
			

      

