<% if items == true %>
		<article>
			<h1><%= item.title %></h1>
			<p><%= sanitize(item.text) %></p>
		</article>
<% end %>

<% if items_for_all == true %>
		<article class="promotions">
			<div class="divider"></div>
			<h1><%= item.title %></h1>
			<p><%= sanitize(item.text) %></p>
		</article>
<% end %>