.wrap .in_contant {
	width:360px !important;
	float:right;
	display: block;
	margin:0 !important;
}

#notice {
	clear:both;
}

.out {
	display:block;
	float:left;
}

nav {
	color: #959595;
}


.breadcrumbs {
	margin-top: 10px;
}

.breadcrumbs a {
	color: #6B6B6B;
}

.this {
	color: #FF8600 !important;
}

.product {
	float:left;
	display: block;
	width: 580px;
}

.desc {
	clear:both;
	padding-top:10px;
}

.product_image {
	float: left;
	display:block;
	margin-right:10px;
	margin-top:-20px;
}
.product_info {
	float:right;
	width: 60%;
	display:block;
	margin-top:10px;
}

.product_info h2 {
	font-size: 18px;
	color: #6B6B6B;
}

.product_info a {
	float:left;
	clear:left;
	color: #959595;
	margin-left:10px;
}

.product_info a:hover {color: #FF8600}

.product .info {
	float:left;
	clear:both;
	margin-top:10px;
}

.with_out_width {
	width:100%;
	margin-top:0;
	margin-bottom:10px;
}

.info p {
	margin-left:10px;
}

.product .info span {
	color:#6B6B6B;
	font-weight:bold;
}



