.wrap .in_contant {
	width:360px !important;
	float:right;
	display: block;
	margin:0 !important;
}

.out {
	display:block;
	float:left;
}

nav {
	color: #959595;
}


.breadcrumbs {
	margin-top: 10px;
}

.breadcrumbs a {
	color: #6B6B6B;
}

.this {
	color: #FF8600 !important;
}

.product {
	float:left;
	display: block;
	width: 480px;
}