.actions {
	margin-left:20px;
	font-size: 14px;
	color: #737373!important;
}


.do {
	margin-top:40px;
	float:left;
	clear:both;
}

h1 {
	color:#6b6b6b;
	font-size:1.5em;
	font-family: Arial;
	margin-bottom:10px;
	margin-top:10px;
	float:right;
}

.product_show {
	clear :both;
}


li {
	font-size:18px;
	list-style: none;
}

nav nav {
	margin-left: 20px;
}

.section_name {
	color: #ff8600 !important;
}

.product_name {
	color: #6b6b6b !important;
}

.section_categories {
	margin-top: 50px;
}