<p id="notice"><%= notice %></p>
<p>
  <h1><%= @category.name %></h1>
</p>
<%= link_to 'Вернуться', sections_path %>
<br/>
<nav>
<% @category.products.each do |product| %>
    <li><%= link_to product.name, section_category_product_path(@section, @category, product) %></li>

<% end %>

</nav>

